---
import MainLayout from "../../layouts/MainLayout.astro"
import Search from "../../(CategoriesAndTags)/components/Search"
import PaginationCategoriesAndTags from "../../(CategoriesAndTags)/components/PaginationCategoriesAndTags"
import type { Welcome}  from "../../models/categoriesAndTags"
import makeDocs from "../../(CategoriesAndTags)/utils/makeDocs"

const API_URL = import.meta.env.PUBLIC_API_URL
    
async function obtainTags(page:number): Promise<Welcome>{
    const postsParcials = await fetch(`${API_URL}/api/tags?pagination[page]=${page}&pagination[pageSize]=2&populate=posts`) 
    return postsParcials.json()
}

const tagsToUpdate = await makeDocs(obtainTags)
---

<MainLayout title="Tags">
    <section class="flex flex-col justify-center items-center">
        <div class="container p-3 flex justify-start">
            <Search slug="/tags" client:load docs={tagsToUpdate} />
        </div> 
        <PaginationCategoriesAndTags slug="/tags" docs={tagsToUpdate} client:load/>
    </section>
</MainLayout>