---
import MainLayout from "../../layouts/MainLayout.astro"
import Search from "../../(CategoriesAndTags)/components/Search"
import PaginationCategoriesAndTags from "../../(CategoriesAndTags)/components/PaginationCategoriesAndTags"
import type { Welcome}  from "../../models/categoriesAndTags"
import makeDocs from "../../(CategoriesAndTags)/utils/makeDocs"

async function obtainCategories(page:number): Promise<Welcome>{
    const API_URL = import.meta.env.PUBLIC_API_URL
    const postsParcials = await fetch(`${API_URL}/api/categories?pagination[page]=${page}&pagination[pageSize]=2&populate=posts`) 
    return postsParcials.json()
}

const categoriesToUpdate = await makeDocs(obtainCategories)
---

<MainLayout title="" description="">
    <section class="flex flex-col justify-center items-center">
        <div class="container p-3 flex justify-start">
            <Search slug="/categories" docs={categoriesToUpdate} client:load />
        </div> 
        <PaginationCategoriesAndTags slug="/categories" docs={categoriesToUpdate} client:load/>
    </section>
</MainLayout>