<main class='min-h-[calc(100vh-56px)] container mx-auto px-3 py-7 flex justify-center items-center text-white'>
    <div class="basis-full flex flex-col gap-6 shadow-xl rounded-2xl p-3">
        <p class="text-lg">Hola, mi nombre es...</p>
        <div class="">
            <h1 class="text-5xl md:text-7xl lg:text-8xl font-serif">Juan María Mancedo</h1>
            <p class="text-5xl md:text-7xl lg:text-8xl">Y hago páginas increíbles</p>
        </div>
        <p class="text-lg w-full md:w-3/4 lg:w-1/2">Soy un desarrollador frontend junior que se dedica a crear páginas webs increíbles. Una de las tecnologías que más me gustan y que utilice para este sitio es Astro.js</p>
        <a href="https://wa.me/543794870926?text=Hola,%20necesito%20un%20desarrollador%20web" target="_blank" class="self-center bg-yellow-400 text-black dark:bg-white dark:text-black rounded-xl shadow-sm shadow-slate-200 dark:shadow-white py-1 px-3">
            <span class="flex gap-2 items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
                Contactame
            </span>     
        </a>
    </div>
</main>